@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Montserrat:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  /* Gradiente de fondo */
  --bg-gradient: linear-gradient(
    90deg,
    #A67F68 -3.63%,
    #D9845255.5%,
    #F2C094 107.94%
  );

  /* Color de fondo */
  --bg-content: #F2E2CE;

  /* Fondo del Contenedor */
  --bg-container: #BF6E50;

  /* fondo del contador  */
  --bg-contador: #BF6E50;

  /* Colores de texto */
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --text-tertiary: #504F59;

  /* fondo de cards */
  --bg-card-1: #504F59;
  --bg-card-2: #504F59;

  /* fondo de botones */
  --bg-botones: linear-gradient(
    131deg,
    #D99B77 -3.63%,
    #BF6E50 55.5%,
    #D99B77 107.94%
  );

  --bg-footer: #242424;
}
